<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668842758651-t1ilf9ob9ev0flqmk62pk1b9r532vbeb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668842758651-t1ilf9ob9ev0flqmk62pk1b9r532vbeb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>668842758651-dktdvgfjfguouuj0d5rij6a7lqck9hoq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCK-zRK2ZYDcH4jlItQ4RSpsSUMP-REgJc</string>
	<key>GCM_SENDER_ID</key>
	<string>668842758651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bodykh.buyer</string>
	<key>PROJECT_ID</key>
	<string>buyer-51b4d</string>
	<key>STORAGE_BUCKET</key>
	<string>buyer-51b4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668842758651:ios:77875d56f1874676b77b5e</string>
</dict>
</plist>